* {
  text-align: center;
}

button {
  width: 100px;
  height: 50px;
  margin-top: 200px;
  color: white;
  background-color: rgb(241, 115, 157);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(212, 22, 212);
}
